body {
  font-size: 20px;
}

/* button */
.btn_green {
  color: white;
  background-color: #1abc9c;
  text-align: left;
}

.btn_green:hover{
  color: white;
}

.btn_border {
  border: 2px solid white;
}

/* header */
header {
  height: 100px;
  background-color: #2c3e50;
  text-transform: uppercase;
}

.navbar.ms_navbar {
  background-color: #2c3e50;
  border:0;
  margin-bottom: 0;
  padding: 25px 0;
}

.navbar.ms_navbar .navbar-brand{
  color: white;
  font-size: 30px;
}

.navbar.ms_navbar .navbar-brand:hover {
  color: white;
}

.navbar.ms_navbar .navbar-nav li a {
  color: white;
}

.navbar.ms_navbar .navbar-nav li a:hover {
  color:#1abc9c;
}

/* main */
main {
  text-align: center;
}

section {
  padding: 60px 0;
}

section:nth-child(odd) {
  background-color: #1abc9c;
  color: white;
}

section:nth-child(even) {
  color: #333333;
}

section h2{
  font-size: 50px;
  text-transform: uppercase;
}

.stars {
  margin: 20px 0;
  font-size: 35px;
}

.stars:before,
.stars:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius:2px;
  background-color: white;
  margin: 0 20px;
  position: relative;
  bottom: 11px;
}

section:nth-child(even) .stars:before,
section:nth-child(even) .stars:after {
  background-color: #333333;
}

/* start-section */
.start_section {
  text-transform: uppercase;
}

.start_section h1 {
  font-size: 60px;
}

.start_section p {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

/* portfolio-section */
.portfolio_section .row div:not(.stars) {
  margin-top: 35px;
}

.portfolio_section .row div:first-child {
  margin: 0;
}

.portfolio_section img {
  width: 100%;
}

/* about-section */
.about_section .row div:not(.stars){
  margin-top: 10px;
}

.about_section .btn {
  margin-top: 20px;
}

/* contact-section */
.contact_section .row div:not(.stars) {
  text-align: left;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}

.contact_section .row div:last-child {
  border: none;
}

.contact_section .row div:nth-child(3) {
  padding-top: 0px;
}

.contact_section .row div:nth-child(6) {
  padding-bottom: 150px;
}

.contact_section .row .stars{
  text-align: center;
  border-bottom: none;
}

/* footer */
footer {
  color: white;
  text-align: center;
}

/* footer-top */
.footer_top {
  background-color: #3a546d;
  padding: 50px 0;
}

.footer_top h3 {
  text-transform: uppercase;
}

.footer_top a {
  padding: 10px;
  margin-right: 20px;
  font-size: 25px;
  color: white;
  /* border: 1px solid white;
  border-radius: 50%; */
}

.footer_top .row span {
  color: #1abc9c;
}

/* footer-bottom */
.footer_bottom {
  background-color: #2c3e50;
  line-height: 100px;
  font-size: 13px;
}

/* media-query */
@media screen and (max-width: 768px){

  .contact_section {
    margin: 0 10px;
  }

}
