body {
  font-size: 20px;
}

/* header */
header {
  height: 100px;
  line-height: 100px;
  background-color: #2c3e50;
  text-transform: uppercase;
  color: white;
}

header h2 {
  margin: 0;
  line-height: 100px;
}

nav {
  text-align: right;
}

nav ul {
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding-right: 20px;
}

/* main */
main {
  text-align: center;
}

section {
  padding: 60px 0;
}

section:nth-child(odd) {
  background-color: #1abc9c;
  color: white;
}

.section:nth-child(even) {
  color: #333333;
}

section h2{
  font-size: 50px;
  text-transform: uppercase;
}

.stars {
  margin: 20px 0;
  font-size: 35px;
}

/* start-section */
.start_section {
  text-transform: uppercase;
}

.start_section h1 {
  font-size: 60px;
}

.start_section p {
  font-size: 25px;
  font-weight: bold;
}

/* portfolio-section */
.portfolio_section .row div {
  margin-top: 35px;
}

.portfolio_section .row div:first-child {
  margin: 0;
}

/* .portfolio_section .row > div:nth-child(2) {
  height: 260px;
  background-image: url("../img/cabin.png");
  background-size: 100% 100%;
  border-radius: 5px;
} */

.portfolio_section img {
  width: 100%;
}

/* contact-section */
.contact_section .row div {
  text-align: left;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
}

.contact_section .row div:last-child {
  padding-bottom: 150px;
}

.contact_section .row .stars{
  text-align: center;
  border-bottom: none;
}

/* footer */
footer {
  color: white;
  text-align: center;
}

/* footer-top */
.footer_top {
  background-color: #3a546d;
  padding: 50px 0;
}

.footer_top h3 {
  text-transform: uppercase;
}

.footer_top a {
  padding: 10px;
  margin-right: 20px;
  font-size: 25px;
  color: white;
  /* border: 1px solid white;
  border-radius: 50%; */
}

.footer_top .row span {
  color: #1abc9c;
}

/* footer-bottom */
.footer_bottom {
  background-color: #2c3e50;
  line-height: 100px;
  font-size: 13px;
}
